#cabecera{
	color: #581845 ;
	background-color: #FFCCCC ;
	width: 1044px;
	text-align: center;
}

#menu{
	color: #900C3F;
	background-color: #FFC300 ;
	width: 120px;
	height: 300px;
	float: left;
}

#contenido{
	color: #C70039 ;
	background-color :#DAF7E6 ;
	width: 924px;
	height: 300px;
	float: left;
}

